[run]
source = .
omit =
    */migrations/*
    */tests/*
    tests/*
    **/test_*.py
    **/*_test.py
    **/tests.py
    **/tests_*.py
    manage.py
    payzap_core/asgi.py
    payzap_core/wsgi.py
    venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.: